
header {
	background-color: #323232;
	max-height: 110px;
	display: flex;
	border-radius: 4px;
	
}

div.header-image-container {
	height: 100px;
	border-radius: 4px;
	
}

.header-image-container img {
	height: auto;
	width: auto;
	max-width: 100px;
	border-radius: 4px;
}

.site-title a {
	padding: 10px;
	bottom: 20px;
	position: relative;
	font-size: 100px;
	color: rgb(240,10,10);
	text-decoration: none;
}


.search-container {
	
