<main class="home-page">

	<div class="welcome-message">
		<h3>Welcome to FlixReview!</h3>
		<p> This site will help you find your next reason to sit on the couch for an absurd number of hours. When you've exhausted the Popular and For You sections of Netflix, come to this site and you are sure to find your next favorite show or movie! Head into the Movies tab for reviews on worth-noting films. The sections tab is sure to give you a new series to binge.</p>
		<p>If you have a show or movie to add, head into the appropriate section and hit the "+" button to include your very own review on the site!</p>
	</div>
</main>
